*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html, body{
  background-color:#FFEFEF;
}
.app{
    width:100%;
    display:flex;
    flex-direction: column;
  justify-content: center;
}

.app_body{
  display:flex;
  justify-content: center;
}
