
.header {
    position:sticky;
    top:0px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color:white;
    border-radius: 10px;
    border: 1px solid lightgray;
    z-index:99999;
    width:100%;
}
.header_init{
    position:sticky;
    top:0px;
    display:flex;
    align-items: center;
    background-color:white;
    border-radius: 10px;
    border: 1px solid lightgray;
    z-index:99999;
    width:100%;
    padding:10px;
}
.header_init_one{
    width:100%;
    display:flex;
    justify-content: space-between;
    margin-left:30px;
    margin-right: 30px;
}
.header_init_one>h1{
font-family: 'Raleway', sans-serif;
font-weight: 300;
}
.header_left {
    margin-left:20px;
    display:flex;
    flex:0.5;
    align-items: center;
}
.header_init_one{
    margin-left:20px;
    display:flex;
    align-items:center;
}
.logo{
    margin-right:5px;
}
.header_right {
    margin-right:20px;
    display:flex;
    align-items: center;
    flex:0.5;
}
.header_search {
    display:flex;
    align-items: center;
    padding:15px;
    flex:1;
}
.header_search > input{
    font-weight: bold;
    border-radius: 10px;
    border:none;
    outline:none;
    background-color:whitesmoke;
    flex:1;
    margin-left:5px;
    padding:10px;
}
  @media screen and (max-width:1135.2px){
        .header_search{
            display:none;
        }
    }