.recordbar{
    width:90%;
}

.record_input{
    margin:20px;
    width:20%;
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding:15px;
    border:1px solid lightgray;
}
.tile_search{
    margin:20px;
    width:40%;
    background-color: white;
    border-radius:15px;
    padding:15px;
    border: 1px solid lightgray;
    display:flex;
    justify-content: space-between;
}
.record_input form{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.tile_search form{
    width:100%;
    display:flex;
    justify-content: space-between;
}
.add_symbol{
    margin:10px;
    border:1px solid lightgray;
    border-radius:10px;
}
.add_symbol:hover{
   outline:5px solid rgb(83, 246, 221);
}

.record_input input{
    border-radius:15px;
    height:40px;
    padding:10px;
    font-weight: 600;
    margin:7px;
    border:none;
    outline:none;
    background-color: whitesmoke;
    border:0.5px solid lightgray;
}
.tile_search input{
    border:none;
    outline:none;
    font-size: medium;
}
.record_section {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    margin:10px;
}